body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Now Display', 'SF Pro Display', helvetica, sans-serif;
  background: #f4f4f4;
/*   height: 100vh; */
}
* {
  box-sizing: content-box;
}

#root p.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
